.metadata/
*.classpath
*.project
first_java_program/.settings/
*.class
oop/.settings/org.eclipse.core.resources.prefs
oop/.settings/org.eclipse.jdt.core.prefs
homework/.settings/org.eclipse.core.resources.prefs
homework/.settings/org.eclipse.jdt.core.prefs
fp/.settings/org.eclipse.core.resources.prefs
fp/.settings/org.eclipse.jdt.core.prefs
homework/board.txt
